<!DOCTYPE html>
<html>
<head>
  <title>New Product</title>
</head>
  <body>
    <h1>New Product</h1>

    <%= form_with(url: create_product_path, local: true) do |form| %>
      <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, placeholder: 'Enter title', required: true %>
      </div>

      <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, placeholder: 'Enter description', required: true %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, placeholder: 'Enter price' %>
      </div>

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, placeholder: 'upload image' %>
      </div>

      <div>
        <%= form.hidden_field :category_id, value: params[:category_id] %>
      </div>

      <%= form.submit 'Create Product' %>
    <% end %>
  </body>
</html>
